*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

#Toboolist{
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
    display: inline;
}

header{
    padding-left: 30px;
    padding-top: 20px;
    background-color: white;
    height: 80px;
}
 
img{
    vertical-align: middle;
}
.container{
    width: 800px;
    height: 1000px;
    background-color: white;
    margin: auto;
    margin-top:50px;
}

#add-task-button{
    background-color:rgb(2, 171, 255);
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 10px;
    padding:10px 20px;
    color: white;
    border: none;
}

#add-section-button {
    background-color:white;
    padding: 10px 20px;
    border-radius: 30px;
    color: lightgray;
    border-color:lightgrey;
}


.add{
    height: 60px;
    border-bottom: 3px solid lightgray;
} 

.main{
    margin-top: 60px;
}

details{
    margin-left: 50px;
    margin-bottom: 30px;
}

summary{
    font-size: 25px;
    font-weight: bold;
}

.list-row{
    margin: 15px;
    font-weight: 400;
}

.button{
    display: inline-block;
    padding: 3px 20px;
    border-radius: 30%;
    color: white;

}

.button.editorial {
    background-color: rgb(2, 171, 255);
}

.button.goals{
    background-color: rgb(132, 33, 224);
}

.button.recruiting{
    background-color: aquamarine;
}

.button.mobile{
    background-color: orange;
}

.button.website{
    background-color: palevioletred;
}

.button.sales{
    background-color: greenyellow;
}

