*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

#Toboolist{
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
    display: inline;
}

header{
    padding-left: 30px;
    padding-top: 20px;
    background-color: white;
    height: 100px;
}
 
img{
    vertical-align: middle;
}
.container{
    width: 800px;
    height: 1000px;
    background-color: white;
    margin: auto;
}

#add-task-button{
    background-color:rgb(2, 171, 255);
    padding: 10px;
    border-radius: 30px;
    margin-left: 50px;
    padding:10px 20px;
    color: white;
    border: none;
}

#add-section-button {
    background-color:white;
    padding: 10px 20px;
    border-radius: 30px;
    color: lightgray;
    border-color:lightgrey;
}


.add{
    height: 100px;
} 

.button{
    display: inline-block;
    padding: 8px;
    border-radius: 30%;

}

.button .editorial {
    background-color: rgb(2, 171, 255);
}

.button .goals{
    background-color: rgb(132, 33, 224);
}

.button .recruiting{
    background-color: aquamarine;
}